fastapi
uvicorn
sqlalchemy
python-multipart
requests
pydantic
huggingface_hub
tqdm
modelscope
torch==2.11.0
torchaudio==2.11.0
transformers @ git+https://github.com/huggingface/transformers.git@09835700ac3db4a08762a0a6f6960c346ebf7365
accelerate
faster-whisper
funasr
mlx-whisper
pyannote.audio
opencc-python-reimplemented
sse-starlette
fastmcp
